Options +FollowSymLinks -Indexes 
SetOutputFilter DEFLATE
RewriteEngine On
RewriteBase /appointments

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^rest/(.*)$ lib/rest/entrypoint.php?__url=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?__url=$1 [L,QSA]

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.+)$ app/entrypoint.php?__url=$1 [L,QSA]
